<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MMBlurDialogView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D9AF48AD1CF6963D00245DB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9AF48C91CF6963D00245DB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9AF48D41CF6963D00245DB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
